body {
   margin: 0;
   padding: 0;
   background: linear-gradient(to right, rgb(30,87,153) 11%,
                                       rgb(32,124,202) 34%,rgb(32,124,202) 35%,
                                       rgb(41,137,216) 60%,rgb(125,185,232) 91%,
                                       rgb(125,185,232) 91%) fixed;                                     
}

.calculatorBox {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 25em;
   width: 30em;
   font-size: 15px medium;
   border: solid;
   border-color: rgba(125, 232, 240, 0.39);
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.486);
}

.displayPanel {
   position: relative;
   padding: 0;
   margin: 0;
   height: 25%;
   width: 100%;
}

.displayPanel input{
   margin: 0.2em;
   padding-left: 1rem;
   width: 92.3%;
   height: 88%;
   font-size: 3rem;
   outline: none;
   background: rgba(255, 255, 255, 0.336);
   border: none;
   border-radius: 3px;
   transition: 0.3s;
   color: rgba(0, 102, 255, 0.473);
   cursor: initial;
}

.displayPanel input:hover {
   background: rgba(255, 255, 255, 0.555);
}

.buttonPanel {
   position: relative;
   padding: 0;
   margin: 0;
   width: 100%;
   height: 75%;
}

.buttonPanel table {
   table-layout: fixed;
   border-collapse: collapse;
   border-spacing: 0;
   width: 96.5%;
   height: 95%;
   margin: 0.6em;
}

.buttonPanel input{
   font-size: 1.5rem;
   height: 100%;
   width: 100%;
   cursor: pointer;
   border: none;
   color: rgb(255, 255, 255);
   background: rgb(91, 153, 235);
   outline: none;
   transition: 0.3s;
}

.buttonPanel .zeroButton {
   width: 100%;
}

.buttonPanel .equalButton {
   height: 100%;
}

.buttonPanel input:hover {
   background: rgb(125, 170, 230);
}


@media screen and (max-width : 480px){
   .calculatorBox{    
      width: 96%; 
      height: 88%;
      transition: unset;
   }
   
   .displayPanel input{
      width: 91.4%;
      font-size: 3.5rem;
      margin: 0.1em;
   }

   .buttonPanel table {
      border: none;
      margin: 0.2em;
      width: 98.5%;
      height: 98.5%;
   }

   .buttonPanel table tr:nth-child(4){
      height: 20%;
   }

   .buttonPanel input {
      font-size: 2rem;
      border: 1em;
   }
   
}
